@media only screen and (max-width: 768px) {
    :root {
    --font-size-base: 14px;
    --gap: 2rem;
    --margin-right: 1rem;
    --black: #000;
    --white: #FFFCFC;
    }

    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Rosario', sans-serif;
        --font-size-base: var(--font-size-base);
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--black);
        text-align: center;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        gap: var(--gap);
        margin-right: var(--margin-right);
    }
    
    nav a {
        text-decoration: none;
        color: var(--white);
        font-size: 1rem;
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    header img {
        width: 15%;
        height: auto;
    }

    main {
        margin-top: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        justify-content: center;
    }

    .image-container img {
        width: 90%;
        height: auto;
        margin-bottom: 1rem;
        opacity: 0;
        transform: translateX(0);
        transition: opacity 1s ease-in-out, transform 2s ease-in-out;
    }

    .image-container .first {
        animation: moveFromLeft 2s ease-in-out 3s forwards;
    }

    .image-container .second {
        animation: moveFromRight 2.5s ease-in-out 3.5s forwards;
    }

    .image-container .third {
        animation: moveFromLeft 3s ease-in-out 4s forwards;
    }

    .image-container .four {
        animation: moveFromRight 3.5s ease-in-out 4.5s forwards;
    }

    .image-container .five {
        animation: moveFromLeft 4s ease-in-out 5s forwards;
    }

    .image-container .six {
        animation: moveFromRight 4.5s ease-in-out 5.5s forwards;
    }
}

@keyframes moveFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .circle {
        display: flex;
        margin-top: 5rem;
    }
    
    
    .circle * p {
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
    font-weight: 700;
    margin: 0;
    justify-content: center;
    }
    
    
    .big-image-container {
        display: none;
        justify-content: flex-end;
        align-items: center;
        max-width: calc(50% - 1rem);
        margin-left: auto;
    }
    
    .big-image-container img {
        max-width: 95%;
        height: auto;
    }
    
    .circles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
    }
    
    .circles img,
    .circles-columns img {
        max-width: 15rem;
        height: auto;
    }
    
    .circles-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin-left: 3%;
        margin-top: 1%;
    }
    
    @keyframes moveDirection {
        from {
            transform: translateX(0) translateY(0);
        }
        25% {
            transform: translateX(120%) translateY(0)
        }
        50% {
            transform: translateX(120%) translateY(100%);
        }
        75% {
            transform: translateX(0%) translateY(100%);
        }
        100% {
            transform: translateX(0%) translateY(0%); ;
        }
    }
    
    .im1 {
        animation: moveDirection 9s ease-in-out infinite;
    }
    
    @keyframes moveDirection2 {
        from {
            transform: translateX(0) translateY(0);
        }
        25% {
            transform: translateX(0) translateY(100%)
        }
        50% {
            transform: translateX(-120%) translateY(100%);
        }
        75% {
            transform: translateX(-120%) translateY(0);
        }
        100% {
            transform: translateX(0%) translateY(0%); ;
        }
    }
    
    .im3 {
        animation: moveDirection2 9s ease-in-out infinite;
    }
    
    
    
    
    @keyframes moveDirection3 {
        from {
            transform: translateX(0) translateY(0);
        }
        25% {
            transform: translateX(0) translateY(-100%)
        }
        50% {
            transform: translateX(120%) translateY(-100%);
        }
        75% {
            transform: translateX(120%) translateY(0);
        }
        100% {
            transform: translateX(0%) translateY(0%); ;
        }
    }
    
    .im2 {
        animation: moveDirection3 9s ease-in-out infinite;
    }
    
    @keyframes moveDirection4 {
        from {
            transform: translateX(0) translateY(0);
        }
        25% {
            transform: translateX(-120%) translateY(0)
        }
        50% {
            transform: translateX(-120%) translateY(-100%);
        }
        75% {
            transform: translateX(0) translateY(-100%);
        }
        100% {
            transform: translateX(0%) translateY(0%); ;
        }
    }
    
    .im4 {
        animation: moveDirection4 9s ease-in-out infinite;
    }

    .meat {
        font-size: 150%;
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1rem;
        padding: 0 10px;
    }
    
    .card {
        position: relative;
        overflow: hidden;
        width: 80%;
        margin-bottom: 4rem;
        transition: transform 1.35s ease-in-out, filter 1.35s ease-in-out;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
    
    .overlay {
        position: absolute;
        bottom: 3.4px;
        left: 0;
        width: 100%;
        background-color: rgba(163, 83, 10, 0.7);
        padding: 1.5rem;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 0 0 3.6rem 3.6rem;
    }
    
    .darken {
        filter: brightness(30%);
    }
    
    .card:hover {
        transform: scale(1.05);
        filter: brightness(100%);
    }
    
    .card:hover .overlay {
        opacity: 1;
    }
    
    .name {
        color: #FFFAFA;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        font-weight: 400;
        font-family: 'Volkhov', serif;
    }
}

@media only screen and (max-width: 768px) {

    .getintouch {
        font-style: italic;
        font-weight: 700;
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
        padding-bottom: 2rem;
    }
    
    .main-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 6%;
        margin-top: 8%;
        position: relative;
    }
    
    .input-container {
        background-color: #E5E5E5;
        width: 100%;
        margin-top: 1rem;
    }
    
    .input-container input {
        border: none;
        outline: none;
        background-color: #FFF;
    }
    
    
    .namemail {
        width: 44.4%;
        height: 3rem;
        margin: 1rem;
        font-size: 1.2rem;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
    }
    
    .message {
        width: 94%;
        height: 8rem;
        margin: 1rem;
        font-size: 1.2rem;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
    }

    .map-container {
       display: none;
    }
}

@media only screen and (max-width: 768px) {
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;;
    color: #000;
    padding: 2rem;
    text-align: center;
}

.footer-column {
    flex: 1;
    margin: 0.5rem 0.5rem;

}

.footer p {
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
}

.hour {
    font-size: 1.2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.social-icons a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    align-self: center;
    font-style: italic;
}

.hit {
    font-size: 1.3rem;
    font-weight: 700;
}
}