@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-size-base: 16px;
    --gap: 2rem;
    --margin-right: 2.5rem;
    --black: #000;
    --white: #FFFCFC;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rosario', sans-serif;
    --font-size-base: var(--font-size-base);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    margin-right: var(--margin-right);
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main {
    margin-top: 12rem;
}

.image-container{
    display: flex;
    margin-top: 4rem;
}

.image-container img {
width: 100%;
}

.center-column,
.center-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.center-column{
    animation: moveCenterColumn 2s ease-in-out;
}

.center-right-column {
    animation: moveCenterRightColumn 2s ease-in-out;
}

.center-column{
    margin-right: 1rem;
}

    .left-column,
    .right-column {
    display: flex;
    margin: 2.5em;
}

.left-column{
    animation: moveLeftColumn 3.5s ease-in-out;
}

.right-column{
    animation: moveRightColumn 3.5s ease-in-out;
}

.center-column img,
.center-right-column img {
    margin-bottom: 2em;
}

@keyframes moveCenterColumn {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveCenterRightColumn {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveLeftColumn {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveRightColumn {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}


.circle {
    display: flex;
    margin-top: 12rem;
}


.circle * p {
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
font-weight: 700;
margin: 0;
justify-content: center;
}


.big-image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: calc(50% - 1rem);
    margin-left: auto;
}

.big-image-container img {
    max-width: 95%;
    height: auto;
}

.circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-left: 3%;
    margin-top: 1%;
}

.circles img,
.circles-columns img {
    max-width: 17rem;
    height: auto;
}

.circles-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-left: 3%;
    margin-top: 1%;
}

@keyframes moveDirection {
    from {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(130%) translateY(0)
    }
    50% {
        transform: translateX(130%) translateY(105%);
    }
    75% {
        transform: translateX(0%) translateY(105%);
    }
    100% {
        transform: translateX(0%) translateY(0%); ;
    }
}

.im1 {
    animation: moveDirection 12s ease-in-out infinite;
}

@keyframes moveDirection2 {
    from {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(0) translateY(105%)
    }
    50% {
        transform: translateX(-130%) translateY(105%);
    }
    75% {
        transform: translateX(-130%) translateY(0);
    }
    100% {
        transform: translateX(0%) translateY(0%); ;
    }
}

.im3 {
    animation: moveDirection2 12s ease-in-out infinite;
}




@keyframes moveDirection3 {
    from {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(0) translateY(-105%)
    }
    50% {
        transform: translateX(130%) translateY(-105%);
    }
    75% {
        transform: translateX(130%) translateY(0);
    }
    100% {
        transform: translateX(0%) translateY(0%); ;
    }
}

.im2 {
    animation: moveDirection3 12s ease-in-out infinite;
}

@keyframes moveDirection4 {
    from {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-120%) translateY(0)
    }
    50% {
        transform: translateX(-120%) translateY(-105%);
    }
    75% {
        transform: translateX(0) translateY(-105%);
    }
    100% {
        transform: translateX(0%) translateY(0%); ;
    }
}

.im4 {
    animation: moveDirection4 12s ease-in-out infinite;
}

.meat {
    text-align: center;
    font-size: 300%;
    margin-top: 8rem;
    font-weight: 700;
}


.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 0 10px;
}

.card {
    position: relative;
    overflow: hidden;
    width: 20%;
    transition: transform 0.35s ease-in-out, filter 0.35s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    background-color: rgba(163, 83, 10, 0.7);
    padding: 1.5rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
   border-radius: 0 0 1.9375rem 1.9375rem;
}

.darken {
    filter: brightness(30%);
}

.card:hover {
    transform: scale(1.05);
    filter: brightness(100%);
}

.card:hover .overlay {
    opacity: 1;
}

.name {
    color: #FFFAFA;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    font-family: 'Volkhov', serif;
}

.getintouch {
    font-style: italic;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

.main-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 6%;
    margin-top: 12%;
}

.input-container {
    background-color: #E5E5E5;
    width: 50%;
}

.input-container input {
    border: none;
    outline: none;
    background-color: #FFF;
}

.namemail {
    width: 44.4%;
    height: 3rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
}

.message {
    width: 94%;
    height: 8rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
}

.map-container {
    width: 40%;
    position: relative;
    left: 50rem;
    bottom: 20rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;;
    color: #000;
    padding: 2rem;
    text-align: center;
}

.footer-column {
    flex: 1;
    margin: 1.5rem 1.5rem;

}

.footer p {
    margin: 0;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 600;
}

.hour {
    font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.social-icons a {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    align-self: center;
    font-style: italic;
}

.hit {
    font-size: 1.4rem;
    font-weight: 700;
}





