@media only screen and (max-width: 992px) {
    
    :root {
        --margin-right: 1rem;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Rosario', sans-serif;
        --font-size-base: var(--font-size-base);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--black);
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-right: var(--margin-right);
    }

    nav a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.5rem;
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    header img {
        width: 15%;
        height: auto;
    }

    main {
        margin-top: 12rem;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .image-container > div {
        width: calc(50% - var(--margin-right) * 0.5);
        margin-bottom: 2em;
    }
    .left-column,
    .right-column {
        animation: none;
    }

    

    .left-column,
    .right-column{
        display: none;
    }

    .center-column{
        animation: moveCenterColumn 2.8s ease-in-out;
    }
    
    .center-right-column {
        animation: moveCenterRightColumn 2.8s ease-in-out;
    }

    div.big-image-container{
        display: none;
    }

    .circle {
        display: flex;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    @keyframes moveDirection4 {
        from {
            transform: translateX(0) translateY(0);
        }
        25% {
            transform: translateX(-120%) translateY(0)
        }
        50% {
            transform: translateX(-120%) translateY(-105%);
        }
        75% {
            transform: translateX(0) translateY(-105%);
        }
        100% {
            transform: translateX(0%) translateY(0%); ;
        }
    }
    
    .im4 {
        animation: moveDirection4 12s ease-in-out infinite;
    }

    .meat {
        text-align: center;
        font-size: 150%;
        margin-top: 6rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 992px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 1rem;
        padding: 0 1.5rem;
    }

    .card {
        position: relative;
        overflow: hidden;
        width: calc(40% - 10px);
        margin-bottom: 2rem;
        transition: transform 1.35s ease-in-out, filter 1.35s ease-in-out;
    }

    .overlay {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        background-color: rgba(163, 83, 10, 0.7);
        padding: 1.5rem;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 0 0 2.3rem 2.3rem;
    }


.getintouch {
    font-style: italic;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 12%;
}

.main-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 6%;
    margin-top: 8%;
    position: relative;
    margin-right: 6%;
}

.input-container {
    background-color: #E5E5E5;
    width: 100%;
    margin-top: 1rem;
}

.input-container input {
    border: none;
    outline: none;
    background-color: #FFF;
}

.namemail {
    width: 44.4%;
    height: 3rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
}

.message {
    width: 94%;
    height: 8rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
}

.map-container {
    width: 100%;
    position: relative;
    left: 0;
    bottom: -2rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;;
    color: #000;
    padding: 2rem;
    text-align: center;
}

.footer-column {
    flex: 1;
    margin: 1.5rem 1.5rem;

}

.footer p {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
}

.hour {
    font-size: 1.2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.social-icons a {
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
    align-self: center;
    font-style: italic;
}

.hit {
    font-size: 1.2rem;
    font-weight: 700;
}
}