:root {
    --padding-percent: 2%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 1620px;
    padding: var(--padding-percent);
    box-sizing: border-box;
}

@media only screen and (min-width: 1620px) {
    :root {
        --padding-percent: 15%;
    }

    .image-container{
        display: flex;
        margin-top: 4rem;
        justify-content: center;
    }
}